*.idea
lima-init.sh
Lama/
src/*.i
src/*.o
src/*.s
regression/*.i
regression/*.s
regression/*.log
regression/*.run
regression/test???
regression/tmp.sm
regression/expressions
runtime/runtime.o
lama-impl
